{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monede{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'financas/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="layout">
        <!-- Menu Lateral -->
        <aside class="sidebar">
            {% include 'components/sidebar.html' %}
        </aside>

        <!-- Conteúdo Principal -->
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>

