<div class="Frame246" style="width: 935px; height: 566px; padding-top: 70px; padding-bottom: 70px; justify-content: center; align-items: flex-start; gap: 35px; display: inline-flex">
    <div class="Frame217" style="width: 650px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 25px; display: inline-flex">
      <div class="Frame215" style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
        <div class="TituloPagina" style="color: black; font-size: 30px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Pagamentos</div>
        <div class="ButtonPagamento" style="padding-left: 10px; padding-right: 10px; padding-top: 7px; padding-bottom: 7px; background: #3F9DAC; border-radius: 20px; justify-content: center; align-items: center; gap: 5px; display: flex">
          <div class="Vector" style="width: 8px; height: 8px; border: 2px #D0EAEE solid"></div>
          <div class="AdicionarPagamento" style="color: #D0EAEE; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Adicionar Pagamento</div>
        </div>
      </div>
      <div class="Frame216" style="align-self: stretch; height: 152px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div class="Hoje" style="align-self: stretch; color: black; font-size: 20px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Hoje</div>
        <div class="Group74" style="width: 650px; height: 119px; position: relative">
          <div class="Frame46" style="width: 650px; height: 50px; padding-left: 28px; padding-right: 28px; padding-top: 14px; padding-bottom: 14px; left: 0px; top: 69px; position: absolute; background: #F0F0F0; border-top-left-radius: 10px; border-top-right-radius: 10px; justify-content: center; align-items: center; display: inline-flex">
            <div class="PrXimoPagamentoEm2Dias" style="flex: 1 1 0; color: #434343; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Próximo pagamento em 2 dias </div>
            <div class="Frame245" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; background: #C7C7C7; border-radius: 10px; border: 1px #888888 solid; justify-content: center; align-items: center; gap: 10px; display: flex">
              <div class="PagarFatura" style="color: #888888; font-size: 10px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Pagar Fatura</div>
            </div>
          </div>
          <div class="Item1" style="width: 650px; height: 73px; padding-left: 13px; padding-right: 13px; padding-top: 1px; padding-bottom: 1px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; border: 1px #BEBEBE solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
            <div class="Conteudo" style="align-self: stretch; padding: 10px; justify-content: flex-start; align-items: center; gap: 7px; display: inline-flex">
              <div class="Data" style="width: 50px; height: 50px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; background: #F2F2F2; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div class="Frame41" style="width: 29px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                  <div class="Nov" style="color: #3F9DAC; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Nov</div>
                  <div style="color: #3F9DAC; font-size: 20px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">08</div>
                </div>
              </div>
              <div class="Info" style="flex: 1 1 0; padding: 5px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div class="Titulo" style="align-self: stretch; color: #212121; font-size: 14px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Claro | Plano</div>
                <div class="PagData" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 3px; display: inline-flex">
                  <div class="Group47" style="width: 32px; height: 16px; position: relative">
                    <div class="Rectangle117" style="width: 32px; height: 16px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 4px"></div>
                    <div class="Pix" style="left: 9px; top: 2px; position: absolute; color: #969696; font-size: 10px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Pix</div>
                  </div>
                  <div class="Frame37" style="padding: 2px; justify-content: flex-start; align-items: center; gap: 5px; display: flex">
                    <div class="Vector" style="width: 9.02px; height: 9px; border: 1.50px #969696 solid"></div>
                    <div class="Nov2024" style="color: #969696; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">08 Nov, 2024</div>
                  </div>
                </div>
              </div>
              <div class="TipoValor" style="width: 73px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex">
                <div class="Mensal" style="align-self: stretch; text-align: right; color: #BEBEBE; font-size: 14px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Mensal</div>
                <div class="R9900" style="align-self: stretch; color: #1E1E1E; font-size: 18px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">R$99,00</div>
              </div>
              <div class="ButtonCrud" style="width: 5px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
                <div class="Ellipse2" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
                <div class="Ellipse3" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
                <div class="Ellipse4" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Frame76" style="align-self: stretch; height: 189px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div class="EstaSemana" style="align-self: stretch; color: #969696; font-size: 20px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Esta semana</div>
        <div class="Frame48" style="align-self: stretch; height: 73px; padding-left: 13px; padding-right: 13px; padding-top: 1px; padding-bottom: 1px; background: white; border-radius: 10px; border: 1px #BEBEBE solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
          <div class="Frame44" style="align-self: stretch; padding: 10px; justify-content: flex-start; align-items: center; gap: 7px; display: inline-flex">
            <div class="Frame43" style="width: 50px; height: 50px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; background: #F2F2F2; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
              <div class="Frame41" style="flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                <div class="Nov" style="color: #FFCE0B; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Nov</div>
                <div style="color: #FFCE0B; font-size: 20px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">13</div>
              </div>
            </div>
            <div class="Frame40" style="flex: 1 1 0; padding: 5px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="ClaroPlano" style="align-self: stretch; color: #212121; font-size: 14px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Claro | Plano</div>
              <div class="Frame39" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 3px; display: inline-flex">
                <div class="Group47" style="width: 32px; height: 16px; position: relative">
                  <div class="Rectangle117" style="width: 32px; height: 16px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 4px"></div>
                  <div class="Pix" style="left: 9px; top: 2px; position: absolute; color: #969696; font-size: 10px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Pix</div>
                </div>
                <div class="Frame37" style="padding: 2px; justify-content: flex-start; align-items: center; gap: 5px; display: flex">
                  <div class="Vector" style="width: 9.02px; height: 9px; border: 1.50px #969696 solid"></div>
                  <div class="Nov2024" style="color: #969696; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">13 Nov, 2024</div>
                </div>
              </div>
            </div>
            <div class="Frame38" style="width: 73px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex">
              <div class="Mensal" style="align-self: stretch; text-align: right; color: #BEBEBE; font-size: 14px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Mensal</div>
              <div class="R9900" style="align-self: stretch; color: #1E1E1E; font-size: 18px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">R$99,00</div>
            </div>
            <div class="Frame42" style="width: 5px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
              <div class="Ellipse2" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
              <div class="Ellipse3" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
              <div class="Ellipse4" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
            </div>
          </div>
        </div>
        <div class="Frame49" style="align-self: stretch; height: 73px; padding-left: 13px; padding-right: 13px; padding-top: 1px; padding-bottom: 1px; background: white; border-radius: 10px; border: 1px #BEBEBE solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
          <div class="Frame44" style="align-self: stretch; padding: 10px; justify-content: flex-start; align-items: center; gap: 7px; display: inline-flex">
            <div class="Frame43" style="width: 50px; height: 50px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; background: #F2F2F2; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
              <div class="Frame41" style="width: 29px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
                <div class="Nov" style="color: #3F9DAC; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Nov</div>
                <div style="color: #3F9DAC; font-size: 20px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">15</div>
              </div>
            </div>
            <div class="Frame40" style="flex: 1 1 0; padding: 5px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
              <div class="SpotifyAssinatura" style="align-self: stretch; color: #212121; font-size: 14px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Spotify | Assinatura</div>
              <div class="Frame39" style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 3px; display: inline-flex">
                <div class="Group47" style="width: 32px; height: 16px; position: relative">
                  <div class="Rectangle117" style="width: 32px; height: 16px; left: 0px; top: 0px; position: absolute; background: #F0F0F0; border-radius: 4px"></div>
                  <div class="Pix" style="left: 9px; top: 2px; position: absolute; color: #969696; font-size: 10px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Pix</div>
                </div>
                <div class="Frame37" style="padding: 2px; justify-content: flex-start; align-items: center; gap: 5px; display: flex">
                  <div class="Vector" style="width: 9.02px; height: 9px; border: 1.50px #969696 solid"></div>
                  <div class="Nov2024" style="color: #969696; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">15 Nov, 2024</div>
                </div>
              </div>
            </div>
            <div class="Frame38" style="width: 73px; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex">
              <div class="Mensal" style="align-self: stretch; text-align: right; color: #BEBEBE; font-size: 14px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Mensal</div>
              <div class="R9900" style="align-self: stretch; color: #1E1E1E; font-size: 18px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">R$99,00</div>
            </div>
            <div class="Frame42" style="width: 5px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
              <div class="Ellipse2" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
              <div class="Ellipse3" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
              <div class="Ellipse4" style="width: 4px; height: 4px; background: #BEBEBE; border-radius: 9999px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Calendario" style="width: 250px; padding: 10px; background: white; border-radius: 10px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 5px; display: inline-flex">
      <div class="Frame54" style="align-self: stretch; justify-content: center; align-items: center; gap: 40px; display: inline-flex">
        <div class="Frame53" style="padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; justify-content: flex-end; align-items: center; gap: 6px; display: flex">
          <div class="Novembro" style="color: black; font-size: 20px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Novembro</div>
          <div style="color: black; font-size: 10px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">2024</div>
        </div>
        <div class="Frame52" style="padding: 5px; justify-content: flex-start; align-items: center; gap: 6px; display: flex">
          <div class="Frame50" style="width: 20px; height: 20px; padding-left: 8px; padding-right: 8px; padding-top: 6px; padding-bottom: 6px; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
            <div class="Vector" style="width: 4px; height: 8px; border: 2px #BEBEBE solid"></div>
          </div>
          <div class="Frame51" style="width: 20px; height: 20px; padding-left: 8px; padding-right: 8px; padding-top: 6px; padding-bottom: 6px; transform: rotate(180deg); transform-origin: 0 0; border-radius: 10px; justify-content: center; align-items: center; gap: 10px; display: flex">
            <div class="Vector" style="width: 4px; height: 8px; border: 2px #BEBEBE solid"></div>
          </div>
        </div>
      </div>
      <div class="UxMateCalendarComponent" style="border-radius: 8px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; display: flex">
        <div class="UxMateCalendarRow" style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">D</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">S</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">T</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Q</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">Q</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">S</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">S</div>
          </div>
        </div>
        <div class="UxMateCalendarRow" style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; background: rgba(255, 255, 255, 0)"></div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; background: rgba(255, 255, 255, 0)"></div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">1</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">2</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">3</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">4</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: #BEBEBE; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">5</div>
          </div>
        </div>
        <div class="UxMateCalendarRow" style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: #BEBEBE; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">6</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">7</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">8</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">9</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">10</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">11</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: #BEBEBE; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">12</div>
          </div>
        </div>
        <div class="UxMateCalendarRow" style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: #BEBEBE; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">13</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">14</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">15</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">16</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">17</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">18</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: #BEBEBE; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">19</div>
          </div>
        </div>
        <div class="UxMateCalendarRow" style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: #BEBEBE; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">20</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">21</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">22</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">23</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">24</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">25</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: #BEBEBE; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">26</div>
          </div>
        </div>
        <div class="UxMateCalendarRow" style="justify-content: center; align-items: center; gap: 8px; display: inline-flex">
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: #BEBEBE; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">27</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">28</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">29</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; justify-content: center; align-items: center; gap: 8px; display: flex">
            <div style="color: black; font-size: 12px; font-family: Arial Rounded MT Bold; font-weight: 400; word-wrap: break-word">30</div>
          </div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; background: rgba(255, 255, 255, 0)"></div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; background: rgba(255, 255, 255, 0)"></div>
          <div class="UxMateDate" style="width: 24px; height: 24px; padding: 8px; background: rgba(255, 255, 255, 0)"></div>
        </div>
      </div>
    </div>
  </div>